body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav{
   background-color: blue;
   display: flex;
   justify-content: space-evenly;
   padding:15px 30px 10px 30px;
}

li a{
    color: white;
}

li a:hover{
    color: black;
}